.page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131316;
    box-sizing: border-box;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
  
  .content {
    width: 1240px;
    margin: 40px auto 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }